services:
  portainer:
    image: portainer/portainer-ce:lts
    restart: always
    networks:
      - proxy 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    labels:
      # Frontend
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`portainer.${HOSTNAME}`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.services.frontend.loadbalancer.server.port=9000"
      - "traefik.http.routers.frontend.service=frontend"
      - "traefik.http.routers.frontend.tls.certresolver=leresolver"

    # ports:
    #   - 9443:9443

volumes:
  portainer_data:
    name: portainer_data

networks:
  proxy:
    name: proxy
    external: true